.chat-global {
  width: 60%;
  height: 700px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 0 30px 70px 0px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 50px;
  overflow: hidden;
}

.chnav-top {
  position: absolute;
  color: #fff;
  background-color: #06061bef;
  border-top: 2px solid #470de4;
  top: 0px;
  width: calc(100vw - 60px);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(51,51,51,0.2);
  margin-bottom: 500px;
  z-index: 8888;
}

.location {
  width: 100px;
  display: flex;
  align-items: center;
  margin: 0 20px;
}
.location img {
  width: 30px;
  margin-left: 10px;
}
.location p {
  font-size: 20px;
  margin-left: 5px;
}

.utilisateur {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.utilisateur p:nth-child(1){
  font-size: 20px;
}
.utilisateur p:nth-child(2){
  font-size: 14px;
  opacity: 0.8;
}

.logos-call {
  width: 100px;
  display: flex;
}
.logos-call img {
  margin-right: 20px;
  width: 30px
}


/* **********CONVERSATION********** */

.conversation {
  position: absolute;
  width: calc(100vw - 55px);
  height: calc(100% - 140px );
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.chscroll {
  position: absolute;
  height: calc(100% - 140px ) ;
}
.talk {
  margin: 20px 0;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7vmax;
  width: 50%;

}
.talk img.avatar {
  width: 50px;
  border-radius: 50%;
  margin-bottom: auto;
}

.cvimg {
  width: 250px;
  height: 300px;
  border-radius: 8px;
}
.talk p {
  padding: 1.5vmax;
  line-height: 25px;
  border-radius: 20px;
  /* background: #000; */
}
.right {
  margin-left: auto;
  width: 320px;
  display: flex;
  gap:1vmax;
  justify-content: flex-end;
  margin-right: 40px;
}
.right p {
  margin-right: 10px;
  background:#0078FF;
}
.left {
  margin-left: 0;
  display: flex;
  gap: 0.5vmax;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-left: 40px;
}

.left p {
  margin-left: 10px;
  background: rgb(216,216,216);
  color: #000;
}

/* **********FORM********** */

.chat-form {
  position: absolute;
  flex-shrink: 0;
  width: calc(100vw - 3vmax);
  height: 4vmax;
  background: #06061bef;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(100vh - 3.8vmax); 
}

.container-inputs-stuffs {
  color: #fff;
  background-color: #06061bef;
  border: 2px solid #470de4;
  display: flex;
  width: 90%;
  height: 4vmax;
  border-radius: 9999px;
}

.group-inp {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-inp img {
  width: 30px;
}
.group-inp textarea {
  resize: none;
  border: none;
  outline: none;
  color: #fff;
  background-color: #06061bef;
  padding-left: 10px;
  font-size: 1.5vmax;
  width: 100%;
  height: 3vmax;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.files-logo-cont  {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
  display: block;
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.files-logo-cont img {
  width: 30px;
}

.submit-msg-btn {
  color: #fff;
  background-color: #06061bef;
  border: 2px solid #470de4;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 70px;
  border: none;
  display: flex;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
}

.submit-msg-btn svg{
  width: 50px;
}


.chat {
  width: calc(100vw - 60px);
  height: auto;
}
